.navBar {
    max-width: 3000px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
    padding-bottom: 10px;
}

.wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.logo {
    font-size: 2rem;
    padding: .5rem 1rem;
    margin-top: -1rem;
    margin-left: 2rem;
    transition: all .25s ease-in-out;
}

.logo a {
    color: white;
}

.logo a:hover {
    text-decoration: underline;
}

nav {
    background: linear-gradient(135deg, #000046 0%, #1CB5E0 100%);
}

nav ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin-top: -3.5rem;
    margin-right: 1rem;
}

nav a {
    color: white;
    text-shadow: 2px 2px 3px #0000003e;
    text-decoration: none;
}

nav li {
    border-radius: 3px;
    color: #333333;
    display: block;
    padding: .5rem 1rem;
    text-decoration: none;
    text-align: center;
    transition: all .25s ease-in-out;
    font-size: 90%;
}

nav li:hover {
    background-color: #193770;
}

body {
    /**    font-family: freight-text-pro, serif; **/
    font-family: "europa", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.7;
    max-width: 3000px;
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
    background-color: #F9F9F9;
    background: linear-gradient(90deg, white 20px, transparent 1%) center, linear-gradient(white 20px, transparent 1%) center, #b9b9b949;
    background-size: 22px 22px;

}

p, ul, li, h3, h4, h5, h6 {
    padding: 0 20px;
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
}

li {
    margin-left: 20px;
    padding-left: 5px;
}

h1, h2, .frame {
    padding: 0 20px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.gray {
    padding: 3rem 9999rem;
    background-color: #F6F6F5;
    margin: 0 -9999rem;
    overflow-x: hidden;
}

.dark {
    padding: 3rem 9999rem;
    background-color: #2C363F;
    margin: 0 -9999rem;
    overflow-x: hidden;
    color: white;
}

.dark h3 {
    color: white;
    margin-top: -10px;
}

/* Index Hero Styling */

.gradback  h1, .gradback h2 {
    color: white;
    text-align: center;

}

.picback {
    background: url("/img/gradback.png");
    background-position: center center;
    background-size: cover;
    padding: 0 0 200px 0;
}

.picback  h1, .picback h2 {
    color: white;
    text-align: center;
}

.picback h1 {
    margin-top: 100px;
}

.cardstack {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    margin-bottom: 60px;
    max-width: 1200px;
}

.card {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    max-width: 550px;
    max-height: 340px;
    overflow: hidden;
    border: 1px solid #b9b9b9;
    border-radius: 3px;
    margin: 20px;
    background-color: #1CB5E0;

}

.cardimg {
    max-width:100%;
    max-height:100%;
    opacity: 1;
    transition: .3s ease;
    backface-visibility: hidden;
}

.cardtext {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.card h3 {
    color: white;
    text-shadow: 3px 3px #193770;
    font-size: 42px;
    line-height: 1.3;
}

.card p {
    color: white;
    text-decoration: none;
}

.card:hover .cardimg {
    opacity: 0.1;
  }
  
  .card:hover .cardtext {
    opacity: 1;
  }


h1, h2, h3, h4, h5 {
    font-style: normal;
    font-weight: 700;
    color: #000046;
}

h1 {
    font-size: 4rem;
    line-height: 4.6rem;
}

h2 {
    font-size: 1.9rem;
    line-height: 2.5rem;
    
}

h3 {
    font-size: 1.4rem;
    line-height:1.4rem;
    color: #000046;
}

h4, h5, h6 {
    font-size: 1rem;
    line-height: 1rem;
}

.gray h3 {
    margin-top: 0;
}

img {
    max-width: 800px; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.2);
}

img.feature {
    width: 90%;
    height: auto;
    max-width: 1000px;
}

.white {
    padding: 3rem 9999rem;
    background-color: #ffffff;
    margin: 0 -9999rem;
    overflow-x: hidden;
}

.icon {
    box-shadow: none;
    margin-bottom: -30px;
}

footer {
    background: linear-gradient(-1350deg, #000046 0%, #1CB5E0 100%);
    overflow: hidden;
    color: white;
    box-shadow: 0 50vh 0 50vh #2A5C90;
}

footer a {
    color: #F5F5F5;
    text-shadow: 1px 1px 1px #33333369;
    text-decoration: none;
}

footer ul {
    justify-content: center;
    display: flex;
    
}

footer li {
    border-radius: 3px;
    display: block;
    padding: .5rem 1rem;
    text-decoration: none;
    text-align: center;
    transition: all .25s ease-in-out;
    font-size: 90%;
}

footer li:hover {
    background-color: #193770;
}

/* Hamburger Menu */
button.hamburger {
    display: none !important;
}

.smenu {
    display: none;
}

.smenu li {
    padding: 10px;
}

@media only screen and (max-width: 680px) {
    .grid {
        display: block;
    }

    .card {
        flex-direction: column;
    }

    .card h3 {
        margin: 20px 10px 0px 10px;
    }

    .redimg {
        margin: 0px;
    } 

    .blueimg {
        margin: 0px;
        order: -1;
    }

    li {
        margin-left: 20px;
        padding-left: 5px;
    }

    body, html {
        overflow-x: hidden
    }

    img { 
        max-width: 90% !important;
        margin-left: auto;
        margin-right: auto;
        height: auto;
        box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.2);
    }

    .icon {
        width: 200px;
    }

    .regmenu {
        display: none;
    }

    p, li, ul {
        font-size: 1rem;
    }

    h1 {
        font-size: 2.8rem;
        line-height: 3.8rem;
    }
    
    h2 {
        font-size: 1.4rem;
        line-height: 2.4rem;
        
    }
    
    h3 {
        font-size: 1.2rem;
        line-height:1.2rem;
        color: #274376;
    }
    
    h4, h5, h6 {
        font-size: 1rem;
        line-height: 1rem;
    }
    
    .smenu {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .smenu li {
        background-color: #FBA3A5;
        margin-top: 10px;
    }
    
    button.hamburger {
        box-shadow: none;
        display: flex !important;
        float: right;
        margin-top: -70px;
        margin-left: auto;
    }
    
    .hamburger {
        padding: 15px 15px;
        display: inline-block;
        cursor: pointer;
        transition-property: opacity, filter;
        transition-duration: 0.15s;
        transition-timing-function: linear;
        font: inherit;
        color: inherit;
        text-transform: none;
        background-color: transparent;
        border: 0;
        margin: 0;
        overflow: visible; }
        .hamburger:hover {
            opacity: 0.7; 
            background-color: transparent;}
            
            .hamburger-box {
                width: 40px;
                height: 24px;
                display: inline-block;
                position: relative; }
                
                .hamburger-inner {
                    display: block;
                    top: 50%;
                    margin-top: -2px; }
                    .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
                        width: 40px;
                        height: 4px;
                        background-color: #274376;
                        border-radius: 4px;
                        position: absolute;
                        transition-property: transform;
                        transition-duration: 0.15s;
                        transition-timing-function: ease; }
                        .hamburger-inner::before, .hamburger-inner::after {
                            content: "";
                            display: block; }
                            .hamburger-inner::before {
                                top: -10px; }
                                .hamburger-inner::after {
                                    bottom: -10px; }
                                    
                                    .hamburger--squeeze .hamburger-inner {
                                        transition-duration: 0.075s;
                                        transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
                                        .hamburger--squeeze .hamburger-inner::before {
                                            transition: top 0.075s 0.12s ease, opacity 0.075s ease; }
                                            .hamburger--squeeze .hamburger-inner::after {
                                                transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
                                                
                                                .hamburger--squeeze.is-active .hamburger-inner {
                                                    transform: rotate(45deg);
                                                    transition-delay: 0.12s;
                                                    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
                                                    .hamburger--squeeze.is-active .hamburger-inner::before {
                                                        top: 0;
                                                        opacity: 0;
                                                        transition: top 0.075s ease, opacity 0.075s 0.12s ease; }
                                                        .hamburger--squeeze.is-active .hamburger-inner::after {
                                                            bottom: 0;
                                                            transform: rotate(-90deg);
                                                            transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }}